<!DOCTYPE html>

<div>
    <%- include('../partials/header', {user: user}) %>
    
    Quick demo of rendering pages.
    Would NOT recommend you using Templating.
    Instead go straight into using SPA = React or Vue.

    <%- include('../partials/footer') %>
</div>